/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:#000;
  color:#fff;
}

#contenedor{
  display: inline-block;
  min-width: 100px;
}

#texto{
  color:#000;
  background-color: #fff;
  width: 500px;
}
#prediction{
  width:500px;
}


